In [1]:
# remember, lists are made with square brackets []

l = [1,2,3]

In [2]:
# see...
l

[1, 2, 3]

In [3]:
# with tuples, you use parentheses and commas 

t = (1,2,3)

In [4]:
t

(1, 2, 3)

In [11]:
t

(1, 2, 3)

In [12]:
# you can mix object types in a tuple
t = ('one', 2)

In [13]:
t

('one', 2)

In [15]:
# you can bring up indexed items, as you would in a list
t[0]

'one'

In [16]:
t[1]

2

In [17]:
# use .index to enter a value within a tuple and return the index
t.index('one')

0

In [19]:
# use .count to count the number of times a value appears
t.count('one')

1

In [20]:
# and...
t.count(2)

1

In [21]:
# another tuple
z = (1,1,2,3)

In [22]:
# let's count how many times '1' appears in the z tuple...
z.count(1)

2

In [23]:
# TUPLES ARE IMMUTABLE, unlike lists. Remember our 'l' list...
l

[1, 2, 3]

In [24]:
# ... this list can be changed...
l=[2,2,3]

In [25]:
# so now the list is outputs as:
l

[2, 2, 3]

In [28]:
# let's set a new tuple...
t = (1,2,3)

In [29]:
t

(1, 2, 3)

In [30]:
# and now try to reassign a valut to index 0 (which is '1')
t[0] = 'andy'

TypeError: 'tuple' object does not support item assignment

In [31]:
# note that 'tuple'object can not support item assignment

In [32]:
# there are fewer supported methods in tuples compared to lists

In [33]:
# so why use tuples? Well, precisely because of their immutability

In [34]:
# in short, tuples are useful for things like days of week, years